body {
padding-top: 70px;
}

#phone {
font-family: 'Laila', serif;
font-size: 28px;
color: #9e602f;
position: relative;
margin-left: 120px;
margin-top: 5px;
padding-top: 15px;
letter-spacing: none;
text-decoration: none;
}

.navbar-header {
  margin-top: 10px;
}

#photo.container{
  background-image:url('..//img/welcome.jpg');
  background-size: cover;
  width: 100%;
  max-height: 678px;
  min-height: 300px;
  height: 100%;
  background-color: #999999;
  padding-top: 23%;
  padding-bottom: 23%;
}
#photoservices.container{
  background-image:url('..//img/jacket.jpg');
  background-size: cover;
  width: 100%;
  max-height: 678px;
  min-height: 300px;
  height: 100%;
  background-color: #999999;
  padding-top: 23%;
  padding-bottom: 23%;
}
#photoabouttab.container{
  background-image:url('..//img/dress.jpg');
  background-size: cover;
  width: 100%;
  max-height: 678px;
  min-height: 300px;
  height: 100%;
  background-color: #999999;
  padding-top: 23%;
  padding-bottom: 23%;
}

#photoservices.container{
  background-image:url('..//img/jacket.jpg');
  background-size: cover;
  width: 100%;
  max-height: 678px;
  min-height: 300px;
  height: 100%;
  background-color: #999999;
  padding-top: 23%;
  padding-bottom: 23%;
}
#phototest.container{
  background-image:url('..//img/weddingdress.jpg');
  background-size: cover;
  width: 100%;
  min-width: 100%;
  max-height: 678px;
  min-height: 300px;
  height: 100%;
  background-color: #999999;
  padding-top: 23%;
  padding-bottom: 23%;
}
#photocontact.container{
  background-image:url('..//img/shirt_main.jpeg');
  background-size: cover;
  width: 100%;
  max-height: 678px;
  min-height: 300px;
  height: 100%;
  background-color: #999999;
  padding-top: 23%;
  padding-bottom: 23%;
}
#statement h1 {
font-family: 'Cookie';
font-size: 48px;
font-weight: 400;
color: #ffffff;
vertical-align: middle;
line-height: 90px;
}

#statement {
  background-color:#9e602f;
  background-size: cover;
  width: 100%;
  min-height: 120px;
}

#sewing {
  background-image: url('..//img/wedding_dress.jpg');
  background-color: rgba(255, 255, 255, 0.9);
  background-blend-mode: lighten;
  background-position: 50% 50%;
  background-size:cover;
  background-attachment:fixed;
  max-height: 484.65px;
  min-height: 300px;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
#sewingcontact2,
#sewingcontact, #abouttab {
  background-image: url('..//img/wedding_dress.jpg');
  background-color: rgba(255, 255, 255, 0.9);
  background-blend-mode: lighten;
  background-position: 50% 50%;
  background-size:cover;
  background-attachment:fixed;
  max-height: fit-content;
  min-height: 100%;
  height: 100%;
  padding-top: 8%;
  padding-bottom: 5%;
  overflow: visible;
}

#sewingcontact2 textarea {
  min-height: 200px;
  height: fit-content;
}
#sewingcontact2 p {
  color: black;
  font-family: 'Laila', serif;
  font-size: 18px;
}


#sewingcontact h4 {
  color: black;
  font-family: 'Laila', serif;
  font-size: 25px;
  margin-top: 60px;
  margin-bottom: 30px;
}


#sewingcontact p, #abouttab p {
  color: black;
  font-family: 'Laila', serif;
  font-size: 18px;
}
#dark_background .container{
  background-image: url('..//img/sewing_needle.jpg');
  background-color: rgba(0, 0, 0,0.7);
  background-blend-mode:darken;
  width: 100%;
  background-size:cover;
  background-attachment:fixed;
  position: relative;
  padding-top: 5%;
  padding-bottom: 10%;
}

iframe {
  width: 100%;
  min-width: 100%;
}

#dark_background h2,h2, #about h2, #abouttab h2,.center{
  font-family: 'Cookie';
  font-size: 48px;
  font-weight: 400;
  color: #9e602f;
  vertical-align: middle;
  line-height: 90px;
  margin-bottom: 40px;
  }

#dark_background.center,p {
    font-family: 'Laila';
    font-size: 17px;
    color: #ffffff;
    vertical-align: middle;
    line-height: 30px;
    margin-right: 15px;
  }


#dark_background h4{
  color: white;
  font-family: 'Laila', serif;
  font-size: 25px;
  margin-top: 70px;
  margin-bottom: 30px;
}

#dark_background img {
  margin-top: 60px;
}

table.table{
      border: hidden;
      background-color: transparent !important;
      max-width: 95%;
      margin: 0 auto;
    }

  #dark_background li{
    text-align: left;
    font-family: 'Laila';
    font-size:calc(13px + 0.2vw);
    color: #ffffff;
    list-style-type:disc;
    list-style-position:inside;
    padding-left: 35%;
  }


    #table2 table{
      border: hidden;
      max-width: 650px !important;
      text-align: left;
      margin-right: 30%;
      margin-right: auto;
    }

    #table2 h2{
      font-size:calc(40px + 0.5vw);
      text-align: left;
    }

  #table2 li{
    font-family: 'Laila';
    font-size:calc(13px + 0.2vw);
    color: #ffffff;
    text-align:left;
    padding-left: 0;
    padding-bottom: 2.5%;
    list-style-type:disc;
    list-style-position:outside;
    }

  #about p{
    font-family: 'Laila';
    font-size: 17px;
    color: black;
    vertical-align: middle;
    line-height: 30px;
    }

    #about, #abouttab {
      background-image: url('..//img/wedding_dress.jpg');
      background-color: rgba(255, 255, 255, 0.9);
      background-blend-mode: lighten;
      background-position: 50% 50%;
      background-size:cover;
      background-attachment:fixed;
      padding-top: 5%;
    }

  .btn-default,
    #about .btn-default {
    background: #9e602f;
    font-family: 'Laila';
    font-size:19px;
    color:#FFFFFF;
    font-weight: normal;
    border: none;
    letter-spacing: 0.04em;
    position:relative;
    text-align: center;
    margin: 50px 5px;
    cursor: pointer;;
  }
  #about .btn-default:hover {
    box-shadow: 0px 0px 40px #9e602f;
    z-index: 2;
    background-color: #9e602f;
    color: rgba(254, 254, 254);
    font-weight: bolder;
    }
.col-container img,
.container img{
  box-sizing: border-box;
  border: 3px solid #9e602f;
  position: relative;
  max-height: 350px;
  display: block;
  margin: auto;
}
/* modal edition */
.modal-body {
  height: auto;
}

.modal-body .img-responsive{
margin: 0 auto;

}

#gallery.container-fluid{
  background-image: url('..//img/tailroing_desk.jpg');
  background-color: rgba(0, 0, 0,0.1);
  background-blend-mode:lighten;
  width: 100%;
  background-size:cover;
  background-attachment:fixed;
}

#gallery h2{
  font-weight: normal;
  font-size: 50px;

}

#flickr img{
max-height:250px;
max-width: 250px;
height:100%;
margin:10px;
box-sizing: border-box;
border: 3px solid #9e602f;
}

#flickr{
margin-left: 10%;
margin-right:10%;
margin-bottom: 5%
}

#flickr2 ul{
max-height:250px;
max-width: 250px;
height:100%;
margin:10px;
box-sizing: border-box;
border: 3px solid #9e602f;
}


.navbar-default {
background-color: #333333;
box-shadow: 0 1px 1px 0 rgba(222, 216, 163, 0.12);
border-color: transparent;
background-image: none;
padding-left: 10px;
padding-right: 10px;
}
.navbar-default .navbar-nav>ul {
margin-right: 30px;
width: 100%;
background-color: #9e602f;
height: 20px;
}
.navbar-default .navbar-nav>li>a {
text-transform: uppercase;
font-family: 'Laila', serif;
font-size: 14px;
color: #9e602f;
padding-top: 24px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: #9e602f;
font-weight: bolder;
font-size: 14px;
}
.navbar-default .navbar-brand {
color: #9e602f;
font-family: 'Cookie', cursive;
font-weight: bolder;
font-size:50px;
margin-top: 10px
}
.navbar-brand {
  padding: 0px; /* firefox bug fix */
}

.navbar-brand span {
  font-family: 'Laila', serif;
  font-size: 30px;
}



.footer-distributed{
  background-color: #333333;
  box-shadow: 0 1px 1px 0 rgba(222, 216, 163, 0.12);
  border-color: transparent;
  background-image: none;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px 'Laila', serif;;
	padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 30%;
  margin-left: 10px;
}

/* The company logo */

.footer-distributed h3{
	color: #9e602f;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
  font-weight: bolder;
}

.footer-distributed h3 span{
	color:  #9e602f;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #9e602f;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color: #9e602f;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
  margin-left: 10px;
}

.footer-distributed .footer-center i{
	background-color: #9e602f;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color:  #9e602f;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display: block;
	font-weight: normal;
  color:  #9e602f;
	font-size:14px;
	line-height:2;
}


.footer-distributed .footer-center p a{
	color:  #9e602f;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 30%;
  color:  #9e602f;
  margin-left: 30px;
}

.footer-right p{
  color:  #9e602f;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #9e602f;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:   #9e602f;
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #9e602f;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

#contact_form_wrap {
  max-width: inherit;
}
#testimonials {
background-image: url('..//img/wedding_dress.jpg');
background-color: rgba(255, 255, 255, 0.9);
background-blend-mode: lighten;
background-position: 50% 50%;
background-size:cover;
background-attachment:fixed;
max-height: fit-content;
min-height: 100%;
height: 100%;
padding-top: 8%;
padding-bottom: 8%;
overflow: visible;
}

#testimonials h4 {
  font-family: 'Laila';
  font-size: 20px;
  font-weight: bold;
  color: black;
  vertical-align: middle;
  line-height: 30px;
}

#testimonials p {
  font-family: 'Laila';
  font-size: 18px;
  color: black;
  vertical-align: middle;
  line-height: 30px;
}

#testimonials hr {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 0;
  width: 100%;
  border-top: 1px; color: black;);
}

#testimonials td{
    padding:10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

}
#feedback {
  background-image: url('..//img/sewing_needle.jpg');
  background-color: rgba(0, 0, 0,0.7);
  background-blend-mode:darken;
  width: 100%;
  background-size:cover;
  background-attachment:fixed;
  position: inherit;
  padding-top: 10%;
  padding-bottom: 10%;

}

#feedback textarea {
  min-height: 150px;
  height: fit-content;
}
/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

.navbar-brand,
.navbar-header,
  #phone {
    float: left;
    margin-left: 2px;
    padding-top: 1px;
  }

	.footer-distributed {
		font: bold 14px 'Laila', serif;
    overflow-x: hidden;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: left;
    font-size: 20px;
    margin-left: 10px
	}

	.footer-distributed .footer-center i{
		margin-left: 0px;
	}

}

/* global styles
-----------------------------*/
* {box-sizing:border-box; padding:0; margin:0;}
html, body {height:100%; display:grid;}
body {font:16px Helvetica, Arial, sans-serif; color:#111; background-color:#111;}
ul, li {list-style:none;}

/* global classes
-----------------------------*/
.clearfix:after { content:""; clear:both; display:table; }

/* page layout
-----------------------------*/
.page {max-width:100%; margin:auto; overflow:hidden;}

.thumbnails {width:100%; max-width:1040px; margin:0 auto; display:flex; justify-content: space-between; flex-flow: row wrap;}
.thumbnail {width:24%; height:250px; background-color:#ccc; margin-bottom:15px; overflow:hidden;  box-sizing: border-box;
  border: 3px solid #9e602f;}
.thumbnail img {height:100%; cursor:pointer; display:block;}

/* modal overlay
-----------------------------*/
#overlay {width:100%; height:100%; position:fixed; top:10%; left:0; display:none; }

#modal {display: none; background-color:rgba(0,0,0,0.8); max-width:1080px; width:85%; position:absolute; top:50%; left:50%; transform: translate(-50%, -50%); opacity:0; transition:all .25s ease; }
#modal > img {height:50%; ;display:block;margin: 0 auto;}
.show #modal {opacity:1;}

#closeBtn {position:absolute; top:-20px; right:-10px; cursor:pointer; background-color:#111; width:36px; height:36px; border-radius:50px; text-align:center; line-height:35px; font-size:20px; border:1px solid #fff; color:#fff;}
#closeBtn:hover {background-color:#444;}

.arrow {font-size:40px; position:absolute; top:50%; margin-top:-75px; background-color:#fff; opacity:0.2; cursor:pointer;padding:0 10px 0 10px; height:100px; line-height:100px;}
#prevBtn {left:-40px; transition:all .25s ease;}
#prevBtn:hover {left:-55px; opacity:0.5; padding-right:25px;}

#nextBtn {right:-41px; transition:all .25s ease;}
#nextBtn:hover {right:-56px; opacity:0.5; padding-left:25px;}


/* media queries
-----------------------------*/
@media (max-width: 1100px) {
	.thumbnails {width:95%; margin-top:5%;}
	.thumbnail {width:32%;}
}

@media (max-width: 780px) {
	.thumbnails {width:95%; margin-top:5%;}
	.thumbnail {width:49%;}
}

@media (min-width: 720px) {
	#modal {display:block;}
	#prevBtn {left:0;}
	#prevBtn:hover {left:0; padding-right:10px;}
	#nextBtn {right:0; }
	#nextBtn:hover {right:0; padding-left:10px;}
}

@media (max-width: 550px) {
	.thumbnails {display:block;}
	.thumbnail {width:90%; margin-right:auto; margin-left:auto; height:auto;}
	.thumbnail img {width:100%; height:auto;}
}

/* firefox fix
-----------------------------*/
@-moz-document url-prefix() {
	#prevBtn {left:-44px;}
	#prevBtn:hover {left:-59px; }

	#nextBtn {right:-44px; }
	#nextBtn:hover {right:-59px;}
}
